[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
server = "python arithmetic_server.py"
bench = "python bench_client.py"
drip = "python drip_client.py"
